/*
Full image 
*/
.full-image {
  width: 100vw;
  display: none;
  position: fixed;
  top: 7.5vh;
  background-color: rgba(53, 48, 48, 0.5);
  padding: 0.7rem;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  z-index: 9997;
}

.full-image__container {
  animation-name: scale;
  animation-duration: 0.5s;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: var(--light-additional);
  max-width: 95%;
  max-height: 97%;
  align-self: center;
  justify-self: center;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: end;
  padding: 0 0 1rem 1rem;
  margin: 1.5rem 1.5rem 0 0;
}

.full-image__text {
  color: var(--text-color);
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 1rem 1rem;
}

.full-image__button {
  animation-name: scale;
  animation-duration: 0.5s;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  justify-self: center;
  max-width: 100%;
}

.full-image__image,
.spinner-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.spinner-container {
  min-height: 60vh;
}

.full-image__image {
  animation-name: scale;
  animation-duration: 0.5s;
  max-height: 78vh;
  margin: -1.5rem -1.5rem 0 0;
  max-width: 93vw;
}

.full-image__close--stroke {
  stroke: var(--light-additional);
}

.full-image__close {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  z-index: 10000;
}

@media (orientation: landscape) {
  .full-image {
    padding: 2rem;
  }
  .full-image__container {
    align-self: end;
    justify-self: center;
    padding: 0 0 5rem 2rem;
    gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 2rem 2rem 0 0;
  }
  .full-image__text {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    min-width: auto;
    max-width: 100px;
  }
  .button.full-image__button {
    align-self: end;
  }
  .full-image__image,
  .spinner-container {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
  .full-image__image {
    margin: -2rem -2rem 0 0;
  }
}
