:root {
  --background-color: #353030;
  --accents: #dd0000;
  --light-additional: #ffffff;
  --text-color: #353030;
  --text-invert-color: #ffffff;
}

.gallery-page {
  margin: 3rem 0;
}

@media (min-width: 1200px) {
  .gallery {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
  }
}

.l-header--gallery {
  justify-content: space-between;
}

.l-header::after {
  display: block;
  content: '';
  width: 60%;
  height: 0.1rem;
  margin-top: -0.1rem;
  background-color: var(--light-additional);
  margin-right: 40%;
}
