.gallery-page {
  padding: 3rem 0;
}

.gallery {
  max-width: 96%;
  margin: 0 0.6rem;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .gallery {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.l-header--gallery {
  justify-content: space-between;
}

.l-header::after {
  display: block;
  content: '';
  width: 60%;
  height: 0.1rem;
  margin-top: -0.1rem;
  background-color: var(--light-additional);
  margin-right: 40%;
}

@keyframes scale {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/*------IMAGE BLOCK----------*/
.image-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
  padding: 0.6rem 0.3rem 0 0.3rem;
  opacity: 1;
  transition: opacity 0.6s 0.1s linear;
}

.hidden-prevue {
  opacity: 0;
}

.image-block > img,
.image-block__popup {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.image-block__popup {
  background-color: rgba(255, 255, 255, 0.5);
  align-self: end;
  transform: translateY(100%);
  transition: transform 0.1s 0.1s ease-in;
  z-index: 999;
}

.image-block__text,
.full-image__text {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 1rem 1rem;
}

.image-block:hover .image-block__popup {
  transform: translateY(0);
}

/*
Full image 
*/
.full-image {
  width: 100vw;
  display: none;
  position: absolute;
  top: 0;
  padding: 0.7rem;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  z-index: 9997;
}

.full-image__overlay {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin: -0.7rem;
  background-color: rgba(53, 48, 48, 0.9);
}

.full-image__container {
  animation-name: scale;
  animation-duration: 0.5s;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  background-color: var(--light-additional);
  max-width: 95%;
  max-height: 97%;
  align-self: center;
  justify-self: center;
  z-index: 9999;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: end;
  padding: 0 0 1rem 1rem;
  margin: 1.5rem 1.5rem 0 0;
}

.full-image__text {
  animation-name: scale;
  animation-duration: 0.5s;
  min-width: 80vw;
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  margin: 0;
}

.full-image__image,
.spinner-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.spinner-container {
  min-height: 60vh;
}

.full-image__image {
  animation-name: scale;
  animation-duration: 0.5s;
  max-height: calc(100vh - 21.4rem);
  margin: -1.5rem -1.5rem 0 0;
  max-width: 93vw;
}

.full-image__arrow--stroke,
.full-image__close--stroke {
  stroke: var(--light-additional);
}

.full-image__close {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  z-index: 10000;
}

.full-image__arrow {
  height: 5rem;
  width: 2rem;
  grid-row: 3 / 4;
  align-self: center;
  z-index: 10000;
}

.full-image__arrow--left {
  grid-column: 1 / 2;
}

.full-image__arrow--right {
  grid-column: 3 / 4;
  justify-self: end;
}

@media (orientation: landscape) {
  .full-image {
    padding: 2rem;
  }
  .full-image__overlay {
    margin: -2rem;
  }
  .full-image__arrow {
    height: 10rem;
    width: 5rem;
    grid-row: 2 / 4;
  }
  .full-image__container {
    align-self: end;
    justify-self: center;
    padding: 0 0 5rem 2rem;
    gap: 3rem;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    margin: 2rem 2rem 0 0;
  }
  .full-image__text {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    min-width: auto;
    max-width: 100px;
  }
  .full-image__image,
  .spinner-container {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
  .full-image__image {
    margin: -2rem -2rem 0 0;
    max-height: calc(95vh - 4rem);
    max-width: calc(100vw - 19rem - 200px);
  }
}
