:root {
  --background-color: #353030;
  --accents: #dd0000;
  --light-additional: #ffffff;
  --text-color: #353030;
  --text-invert-color: #ffffff;
}

.gallery-page {
  margin: 3rem 0;
}

@media (min-width: 1200px) {
  .gallery {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
  }
}

.l-header--gallery {
  justify-content: space-between;
}

.l-header::after {
  display: block;
  content: '';
  width: 60%;
  height: 0.1rem;
  margin-top: -0.1rem;
  background-color: var(--light-additional);
  margin-right: 40%;
}

.image-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.image-block > img,
.image-block__popup {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.image-block__popup {
  background-color: rgba(255, 255, 255, 0.5);
  align-self: end;
  transform: translateY(100%);
  transition: transform 0.1s 0.3s ease-in;
}

.image-block__text {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 1rem 0 1rem 1rem;
}

.image-block:hover .image-block__popup {
  transform: translateY(0);
}
